BasedOnStyle: Google
Standard: c++20
IncludeBlocks: Regroup
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: Never
AllowShortFunctionsOnASingleLine: None
